:root {
    --dark: #111;
    --player-one: #7A5;
    --player-two: #222;
}

@font-face {
    font-family: "DS-DIGI";
    src: url("./assets/DS-DIGI.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
}
button {
    cursor: pointer;
}

/* timer styles */
.timer {
    height: 50dvh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-size: 100pt;
    font-family: "DS-DIGI";
    cursor: pointer;
}
.black {
    background-color: var(--player-two);
    color: var(--player-one);
    transform: rotate(180deg);
}
.white {
    background-color: var(--player-one);
    color: var(--player-two);
}

/* options container styles */
.options {
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: clamp(24px, 5vh, 36px);
    padding: 10px clamp(10px, 5%, 25px);
    transform: translateY(-50%);
    background-color: var(--dark);
    color: black;
}

.options > div {
    display: flex;
    column-gap: clamp(15px, 100%, 25px);
}

.options button {
    width: 20px;
    background-color: transparent;
    color: #CCC;
    font-size: 18pt;
}

/* modal styles */
#current_set_time_modal.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    backdrop-filter: blur(5px);
    transition: opacity 400ms, filter 400ms;
}
#current_set_time_modal.overlay.hidden {
    transform: scale(0);
    opacity: 0;
    filter: blur(3px);
}

#current_set_time_modal .dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    width: min(80%, 360px);
    aspect-ratio: 3/2;
    background-color: #FFF;
    border-radius: 10px;
    transition: 400ms;
}
#current_set_time_modal.overlay.hidden .dialog {
    transform: translateY(100dvh);
}

#current_set_time_modal strong {
    font-size: 1.5rem;
}

#current_set_time_modal .time-setter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.time-setter button {
    width: 36px;
    aspect-ratio: 1;
    background-color: transparent;
    color: var(--dark);
    font-size: 1.25rem;
    border: 2px solid var(--dark);
    border-radius: 50%;
    font-weight: 900;
}

#update_current_set_time {
    width: 150px;
    padding: 10px;
    background-color: var(--dark);
    color: #FFF;
    border-radius: 10px;
    font-weight: bold;
}