:root {
    --primary: #59F;
    --white: #CCC;
    --black: #222;
}

@font-face {
    font-family: "DS-DIGI";
    src: url("./DS-DIGI.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
button {
    cursor: pointer;
}

/* timer styles */
.timer {
    height: 50dvh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-size: 100pt;
    font-family: "DS-DIGI";
    cursor: pointer;
}
.black {
    background-color: var(--black);
    color: var(--white);
    transform: rotate(180deg);
}
.white {
    background-color: var(--white);
    color: var(--black);
}

/* options container styles */
.options {
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: clamp(24px, 5vh, 36px);
    padding: 10px clamp(10px, 5%, 25px);
    transform: translateY(-50%);
    background-color: var(--primary);
    color: black;
}

.options > div {
    display: flex;
    column-gap: clamp(15px, 100%, 25px);
}

.options button {
    background-color: transparent;
    font-size: 18pt;
}